# Simulation outputs
*.vcd
*.fst
*.wlf
work/
obj_dir/
sim_build/
*.log

# Editor/OS junk
.vscode/
.DS_Store
*.swp

# Verilator build output / traces
obj_dir*/
dump.vcd
dump.json
instr_mem.hex
data_mem.hex
